<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link sizes="32x32" rel="icon" href="../static/favicon.png">
    <link rel="mask-icon" ref="../static/favicon.png" color="#00а0ff">
    <title>Online Library</title>
  </head>
  <body>
    <nav aria-label="Page navigation example" style="margin-top: 20px">
      <ul class="pagination justify-content-center">
        {% if page_num == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% elif page_num == 2 %}
          <li class="page-item">
            <a class="page-link" href="index.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num - 1 }}.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% endif %}
        {% if page_num == 1 %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% else %}
          <li class="page-item disable" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% endif %}
        {% for num in range(2, pages + 1) %}
          {% if num == page_num %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% else %}
            <li class="page-item disable" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_num == pages %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num + 1 }}.html" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% for book_col_1, book_col_2 in books %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..{{ book_col_1['img_src'] }}" class="card-img" alt="{{ book_col_1['title'] }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book_col_1['title'] }}</h5>
                  <h6 class="card-title">{{ book_col_1['author'] }}</h6>
                  {% for genre in book_col_1['genre'] %}
                    <p class="badge badge-pill badge-warning">{{ genre }}</p>
                  {% endfor %}
                  </br><a href="..{{ book_col_1['book_path'] }}" class="btn btn-primary" target="_blank">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..{{ book_col_2['img_src'] }}" class="card-img" alt="{{ book_col_2['title'] }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ book_col_2['title'] }}</h5>
                  <h6 class="card-title">{{ book_col_2['author'] }}</h6>
                  {% for genre in book_col_2['genre'] %}
                    <p class="badge badge-pill badge-warning">{{ genre }}</p>
                  {% endfor %}
                  </br><a href="..{{ book_col_1['book_path'] }}" class="btn btn-primary" target="_blank">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example" style="margin-top: 20px">
      <ul class="pagination justify-content-center">
        {% if page_num == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% elif page_num == 2 %}
          <li class="page-item">
            <a class="page-link" href="index.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num - 1 }}.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% endif %}
        {% if page_num == 1 %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% else %}
          <li class="page-item disable" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% endif %}
        {% for num in range(2, pages + 1) %}
          {% if num == page_num %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% else %}
            <li class="page-item disable" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_num == pages %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num + 1 }}.html" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <script src="../static/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../static/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
