<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link sizes="32x32" rel="icon" href="../static/favicon.png">
    <link rel="mask-icon" ref="../static/favicon.png" color="#00а0ff">
    <title>Online Library</title>
  </head>
  <body>
    <nav aria-label="Page navigation example" style="margin-top: 20px">
      <ul class="pagination justify-content-center">
        {% if page_num == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% elif page_num == 2 %}
          <li class="page-item">
            <a class="page-link" href="index.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num - 1 }}.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% endif %}
        {% if page_num == 1 %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% else %}
          <li class="page-item disable" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% endif %}
        {% for num in range(2, pages + 1) %}
          {% if num == page_num %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% else %}
            <li class="page-item disable" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_num == pages %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num + 1 }}.html" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    {% for content in books %}
    {% if content|length % 2 == 0 %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..{{ content[0]['img_src']|urlencode }}" class="card-img" alt="{{ content[0]['title'] }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ content[0]['title'] }}</h5>
                  <h6 class="card-title">{{ content[0]['author'] }}</h6>
                  {% for genre in content[0]['genre'] %}
                    <p class="badge badge-pill badge-warning">{{ genre }}</p>
                  {% endfor %}
                  </br><a href="..{{ content[0]['book_path']|urlencode }}" class="btn btn-primary" target="_blank">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..{{ content[1]['img_src']|urlencode }}" class="card-img" alt="{{ content[1]['title'] }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ content[1]['title'] }}</h5>
                  <h6 class="card-title">{{ content[1]['author'] }}</h6>
                  {% for genre in content[1]['genre'] %}
                    <p class="badge badge-pill badge-warning">{{ genre }}</p>
                  {% endfor %}
                  </br><a href="..{{ content[1]['book_path']|urlencode }}" class="btn btn-primary" target="_blank">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..{{ content[0]['img_src']|urlencode }}" class="card-img" alt="{{ content[0]['title'] }}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ content[0]['title'] }}</h5>
                  <h6 class="card-title">{{ content[0]['author'] }}</h6>
                  {% for genre in content[0]['genre'] %}
                    <p class="badge badge-pill badge-warning">{{ genre }}</p>
                  {% endfor %}
                  </br><a href="..{{ content[0]['book_path']|urlencode }}" class="btn btn-primary" target="_blank">Читать</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    <nav aria-label="Page navigation example" style="margin-top: 20px">
      <ul class="pagination justify-content-center">
        {% if page_num == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% elif page_num == 2 %}
          <li class="page-item">
            <a class="page-link" href="index.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num - 1 }}.html" aria-label="Previous">
              <span aria-hidden="true">Предыдущая</span>
            </a>
          </li>
        {% endif %}
        {% if page_num == 1 %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% else %}
          <li class="page-item disable" aria-current="page">
            <a class="page-link" href="index.html">1</a>
          </li>
        {% endif %}
        {% for num in range(2, pages + 1) %}
          {% if num == page_num %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% else %}
            <li class="page-item disable" aria-current="page">
              <a class="page-link" href="index{{ num }}.html">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_num == pages %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{ page_num + 1 }}.html" aria-label="Next">
              <span aria-hidden="true">Следующая</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <script src="../static/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>
